@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.borderGlow {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}
.textGlow {
  text-shadow: 1px 1px 17px rgba(255, 255, 255, 0.6);
}
.btn {
  background: linear-gradient(
    180deg,
    rgba(80, 158, 255, 0.26) 0%,
    rgba(80, 158, 255, 0) 100%
  );
  border-image: linear-gradient(to bottom, #000000, #1d467a) 1;
  border: 1px solid;
}

.defaultContainer {
  width: 100%;
  max-width: 1430px;
}
/* app.css */
html {
  scroll-behavior: smooth;
}
